.card {
    margin-bottom: 30px;
}

.card-footer {
    padding: 0;
}

.isLink {
    cursor: pointer;
}

.isLink:hover {
    box-shadow: 10px 2px 15px 0 rgba(0, 0, 0, 0.2), 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
}

