

<!-- <button type="button" class="btn btn-primary" 
  data-toggle="modal" data-target="#orderModal">
  View
</button>

<div class="modal fade" id="orderModal" tabindex="-1" 
  role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Items Ordered</h5>
        <button type="button" class="close btn btn-primary" 
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Product</th>
              <th class="text-center" style="width:230px">Quantity</th>
              <th class="text-right" style="width:200px">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.items">
              <td>
                <div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" 
                  class="thumbnail">
                </div>
              </td>
              <td> {{ item.product.title }} </td>
              <td class="text-center"> {{ item.quantity }}</td>
              <td class="text-right">
                {{ item.totalPrice | currency:"AUD":"symbol" }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Total:</th>
              <th></th>
              <th></th>
              <th class="text-right">
                {{ order.totalPrice | currency:"AUD":"symbol" }}
              </th>
            </tr>
            <tr>
              <th>Shipping Address:</th>
              <td colspan="3"> {{ order.shipping.addressLine1 }}, {{ order.shipping.addressLine2 }}, {{ order.shipping.city }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div> -->